    <div id="foot">
        <footer>
            <label>Copyright &copy; All rights Reserved 2022</label>
        </footer>
    </div>
    <script src="shownav.js" type="text/javascript"></script>
</body>
</html>