<div id="navbar" class="show-height">
    <i class="fa-solid fa-bars ham"></i>
    <label for="">Weather<span>App</span></label>
    <nav>
        <ul class="show">
            <li> <a href=""> Home</a></li>
            <li> <a href=""> Contact</a></li>
            <li> <a href=""> About</a></li>
        </ul>
    </nav>
</div>